* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #410e71, #55148f, #6a19af, #801fcf, #9724f0);
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  width: 1080px;
  max-width: 1240px;
  margin: 0 auto;
}

.secao {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

.principal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;

}

.titulo {
  font-size: 55px;
}

.texto {
  font-size: 20px;
}

.botao {
  color: #FFF;
  text-decoration: none;
  border: #FFF 1px solid;
  width: 150px;
  font-size: 14px;
  text-align: center;
  padding: 15px;
  border-radius: 50px;
  transition: 0.3s;
}

.botao:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.cards {
  margin-top: -150px;
  
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  background-color: #FFF;
  color: black;
  width: 320px;
  height: 300px;
  padding: 50px 10px 50px 30px;
}

.card h2 {
  font-size: 32px;
  color: rgb(86, 21, 146);
}

.seta {
  width: 50px;
}